@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lexend+Zetta&family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Lexend+Zetta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,300&display=swap");

.container {
  background-color: rgb(33, 102, 56);
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 42rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.answer{
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(156, 156, 156);
}

.answer:last-child{
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0px;
}

.title{
  text-align: center;
  font-size: 50px;
  padding-top: 1rem;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: 'Amatic SC', cursive;
  color: white;
}

.sub-title{
  text-align: center;
  font-size: 25px;
  border-radius: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-family: 'Amatic SC', cursive;
  color: white;
}

.timer-container{
  display: flex;
  flex-direction: column;
  background-color: rgb(192, 191, 191);
  width: 100%;
  align-items: center;
  border-radius: 0.9rem;
  padding: 1rem;
  font-size: 15px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.red-banner{
  background-color: red;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.blue-banner{
  background-color: rgb(0, 25, 253);
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.green-banner{
  background-color: rgb(0, 250, 0);
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  color: white;
  font-size: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.questionBox{
  max-width: 40rem;
  margin-bottom: 1rem;
}

.questions{
  display: flex;
  flex-direction: column;
  background-color: rgb(214, 214, 214);
  text-align: center;
  align-items: center;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 0.9rem;
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
  font-size: 25px;
  padding: 2rem;
  max-width: 50rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.questions button{
  background-color: #2da331;
  border: 1px solid green;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;  
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  cursor: pointer;
  font-family: 'Mulish', sans-serif;
}

.questions button:hover{
  background-color: #e2e2e2; 
  border: none;
  color: rgb(0, 0, 0);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  transition-duration: 0.4s;
  border-radius: 0.5rem;
  border: 1px solid green;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(8, 235, 8, 0.2), 0 6px 20px 0 rgba(10, 226, 10, 0.19);
}

.chosen-answer{
  padding: 1rem;
  color: blue
}

.score-board{
  background-color: rgb(219, 219, 219);
  text-align: center;
  align-items: center;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 0.9rem;
  font-size: 25px;
  padding: 2rem;
  font-family: 'News Cycle', sans-serif;
  max-width: 50rem;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.playBtn{
  margin-top: 1rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  background-color: green;
  color: white;
  font-family: 'News Cycle', sans-serif;
  cursor: pointer;
}

.playBtn:hover{
  background-color: rgb(59, 175, 59);
}

.correct-board{
  margin-top: 2rem;
  background-color: white;
  background-color: rgb(214, 214, 214);
  text-align: center;
  align-items: center;
  border-top: 1px solid rgb(14, 248, 6);
  border-bottom: 1px solid rgb(57, 236, 12);
  border-radius: 0.9rem;
  font-size: 25px;
  padding: 2rem;
  font-family: 'News Cycle', sans-serif;
  box-shadow: 0 2px 10px 0 rgba(30, 255, 0, 0.2), 0 2px 20px 0 rgba(21, 122, 8, 0.19);
}

.incorrect-board{
  margin-top: 2rem;
  background-color: white;
  background-color: rgb(214, 214, 214);
  text-align: center;
  align-items: center;
  border-top: 1px solid rgb(255, 0, 0);
  border-bottom: 1px solid rgb(255, 0, 0);
  border-radius: 0.9rem;
  font-size: 25px;
  padding: 2rem;
  font-family: 'News Cycle', sans-serif;
  box-shadow: 0 2px 10px 0 rgba(247, 6, 6, 0.2), 0 2px 20px 0 rgba(238, 7, 7, 0.19);
}

.correct-header{
  color: rgb(30, 139, 30);
  margin-bottom: 1rem;
}

.incorrect-header{
  color: red;
  margin-bottom: 1rem;
}

.github{
  max-width: 3rem;
  margin-right: 0.2rem;
}

.linkedin{
  padding-bottom: 2px;
  max-width: 2.6rem;
}

